<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recetas</title>
</head>

<body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="container py-5 p-auto mb-4">
        <h1 class="text-body-emphasis text-center text-white">Recetas Ricas y Saludables</h1>
        <p class="col-lg-8 mx-auto lead text-center">
            Descubre nuestras deliciosas recetas diseñadas para cuidar de tu salud sin sacrificar el sabor.
        </p>
    </div>

    {% load static %}
    <div class="row justify-content-center">
        {% for receta in recetas %}
        <div class="col-md-3 col-xl-2 d-flex justify-content-center mb-4 h-100">
            <div class="card" style="width: 18rem;">
                <img src="{{ receta.imagen.url }}" class="card-img-top" alt="Imagen de {{ receta.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{receta.nombre}}</h5>
                    <p class="card-text">{{ receta.descripcion}}</p>
                    <a href="{% url 'detalle_receta' receta.id %}" class="btn btn-secondary">Ver receta</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>

</html>